body {
  background-color: rgb(206, 224, 255);
  font-size: 18px;
  margin: 0px;
  overflow-x: hidden;
}
.mainNav {
  display: flex;
  background-color: #8aceff;
  height: 100px;
  overflow: hidden;
  margin-top: 25px;
  width: auto;
  box-shadow: 10px 15px 30px #50b6ff;
}
.HeaderContainer {
  display: flex;
  background-color: transparent;
  overflow: visible;
  margin-bottom: 10px;
}
.navBar ul {
  list-style-type: none;
  overflow: hidden;
}
.navBar ul li a {
  background-color: transparent;
  display: block;
  text-align: center;
  text-decoration: none;
  padding: 20px;
  font-family: Helvetica, sans-serif;
  font-size: 20px;
  color: rgb(0, 0, 139);
}
.navBar {
  width: 1100px;
}

.navBar li {
  float: right;
}
.navBar li :hover {
  color: #0066ff;
}
section {
  margin: 5px;
  color: #00008b;
  font-family: Helvetica, sans-serif;
  font-size: 20px;
  padding: 30px;
}
footer {
  background-color: rgb(88, 88, 88);
  padding: 15px;
  margin: 0px;
  font-family: Helvetica, sans-serif;
  color: white;
  font-size: 16px;
}
.newsContainer {
  background-color: #8aceff;
  height: 600px;
  width: 1500px;
}
#NewsList {
  height: fit-content;
  width: fit-content;
}
#NewsList li {
  height: fit-content;
  width: fit-content;
  list-style-type: none;
  float: left;
  margin: 20px;
  margin-top: 50px;
  background-color: rgb(206, 224, 255);
  height: 500px;
  width: 600px;
}
#NewsList li:hover {
  box-shadow: 5px 5px 20px rgb(25, 159, 248);
}

.NewsItemImage {
  height: 300px;
  margin-left: 15px;
  border: 2px;
  border-color: #00008b;
  border-style: solid;
  border-radius: 10px;
}
.newsDescr {
  float: right;
  width: 250px;
  height: 300px;
  margin: 0px;
  padding: 0px;
  text-overflow: ellipsis;
  max-height: 300px;
}
.NewsOpener {
  margin: 0px;
  margin-top: 25px;
  padding: 10px;
  width: 100px;
  margin-left: 260px;
  text-align: center;
  display: block;
  border: 2px;
  border-style: solid;
  background-color: transparent;
  color: #00008b;
  font-size: 23px;
}
#NewsList li a :hover {
  font-size: 10px;
}
.newsPageRef {
  margin-right: 50px;
  margin-top: 250px;
  font-size: 23px;
  float: right;
}
#arrowImage {
  height: 75px;
  border-radius: 10%;
}
.newsPageRef :hover {
  box-shadow: 5px 5px 20px rgb(25, 159, 248);
  border-color: #00008b;
  border-style: solid;
  border: 3px;
}
.merriweather-regular {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
}
